<hb-modal [options]="options">
  <!--<form>-->
  <div class="form-group">
    <div class="form-group">
      <label class="control-label">Server</label>
      <select class="form-control" value="" [ngModel]="selectedServer" (ngModelChange)="selectedServerChange($event)">
          <option value="">- pick a server -</option>
          <option [value]="service.ServerID" *ngFor="let service of services"  >{{ service.ServerName }}</option>
      </select>
    </div>
    <div class="form-group form-group-sm has-feedback flex-1">
      <input autocomplete="off" class="form-control" name="filterCondition" placeholder="Enter key word" type="text" [ngModel]="filterCondition"
        (ngModelChange)="search($event)">
      <span class="fa fa-search form-control-feedback"></span>
    </div>
    <div class="alert alert-info" *ngIf="!filterJobs?.length">
      <i class="fa-fw fa fa-info"></i>
      <span>No jobs found</span>
    </div>
    <div *ngIf="filterJobs?.length> 0" class="form-group box no-border" style="max-height: 200px; overflow-x:hidden; overflow-y: auto;">
      <div class="well-sm">
        <table class="table table-bordered table-hover" role="grid">
          <thead>
            <tr role="row">
              <th>Job Name</th>
              <th>Application</th>
              <th>Domain</th>
            </tr>
          </thead>
          <tbody>
            <tr role="row" *ngFor="let item of filterJobs;let i = index" (click)="selectJob(i, item.JobID)" [class.tr-selected]="i == selectJobIndex">
              <td>
                {{ item.JobName }}
              </td>
              <td class="text-center">
                {{ item.ApplicationName }}
              </td>
              <td>
                {{ item.Domain }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--</form>-->
  <div class="modal-footer">
    <hb-modal-footer>
      <a type="button" class="btn btn-default btn-flat" [routerLink]="['/task', location, groupId, 'overview']">Cancel</a>
      <button [disabled]="!importJobId" type="submit" class="btn btn-success btn-flat" (click)="confirmImport()">Ok</button>
    </hb-modal-footer>
  </div>
</hb-modal>
