.notify-hr{
    border-top: 1px solid #a9a9a9;
    margin: 10px 0;
}

.form-group .form-control{
    height: auto;
}

.command-group{
  position: relative;
  height: 34px;
  margin-bottom: 10px;
}

.command-input-group{
  max-height: 248px;
  overflow-y: auto;
}
