<section class="content-header">
  <h1>System Config</h1>
</section>
<section class="content">
  <form novalidate [formGroup]="systemForm" (ngSubmit)="save(form)">
    <div class="form-group row" [class.has-error]="(submitted && !owner?.length) || systemForm.controls.UserAdmin.errors?.pattern">
      <label class="control-label" style="margin-left: 15px;">Admin user</label>
      <div>
        <div class="col-md-5">
          <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;" id="adminSelect">
            <span class="selection">
              <span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                <ul class="select2-selection__rendered">
                  <li class="select2-selection__choice" *ngFor="let item of owner;let i = index" >
                    <span class="select2-selection__choice__remove" role="presentation" (click)="removeOwner(i)">×</span>
                      {{ item }}
                  </li>
                  <li class="select2-search select2-search--inline">
                    <input formControlName="UserAdmin" #input [value]="" class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder=""  (keyup)="keyupInput(input.value)" style="width: 3em;" maxlength="4" pattern="^[0-9a-z]{0,4}$">
                  </li>
                  </ul>
              </span>
            </span>
            <span class="dropdown-wrapper" aria-hidden="true"></span>
          </span>
          <div>
            <span class="help-block" *ngIf="systemForm.controls.UserAdmin.errors?.pattern">Owners cannot contain any special symbol.</span>
            <span class="help-block" *ngIf="submitted && !owner?.length">Owners cannot be empty.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-flat bg-olive">
        <i class="fa fa-save"></i> Save
      </button>
    </div>
  </form>
</section>
